Repository twangboy/salt-vmtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

generate-actions-workflow:
  name: Generate Github Actions Workflow
  entry: .github/workflows/templates/generate.py
  pass_filenames: false
  language: script

shellcheck:
  name: Run ShellCheck against svtminion.sh
  entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s bash -f tty
  language: docker_image

Changes pushes to repo to not use ssh
  .github/workflows/release.yml
Due: generate-actions-workflow

Update main branch for the v2024.12.04 release
  CHANGELOG.md
Due: none

Corrected paths to scripts and moved location tag occurs
  .github/workflows/release.yml
Due: generate-actions-workflow

Added git user etc before tagging
  .github/workflows/release.yml
Due: generate-actions-workflow

Correct type vmtools-salt.sh for svtminion.sh, and similar for ps1
  .github/workflows/release.yml
Due: generate-actions-workflow

Further corrections to cutting a release
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
  linux/svtminion.sh
Due: generate-actions-workflow, shellcheck

Update main branch for the v2024.12.04 release
  CHANGELOG.md
  linux/svtminion.sh
  windows/svtminion.ps1
Due: shellcheck

Update README.md with 2024.12.04 release sha256sum
  README.md
Due: none

Fixing final workflow for updating README.md with sha256sums
  .github/workflows/release.yml
  .github/workflows/scripts/update-release-shasum.py
  README.md
Due: generate-actions-workflow

Update main branch for the v2024.12.05 release
  CHANGELOG.md
  linux/svtminion.sh
  windows/svtminion.ps1
Due: shellcheck

Update sha256 checksums
  svtminion.ps1.sha256
  svtminion.sh.sha256
Due: shellcheck

Update README.md with 2024.12.05 release sha256sum
  README.md
Due: none

Clean up files after initial release and re-enable use of ssh and key
  .github/workflows/release.yml
  .github/workflows/test-linux.yml
  tests/linux/test-linux.sh
Due: generate-actions-workflow

Updated release action to use ssh with the repository, add latest location for the scripts to the README
  .github/workflows/release.yml
  README.md
Due: generate-actions-workflow

Update main branch for the v2024.12.05 release
  CHANGELOG.md
Due: none

Updated .gitignore to ignore .cut_* files
  .github/workflows/release.yml
  .gitignore
Due: generate-actions-workflow

Removed unneeded push
  .github/workflows/release.yml
Due: generate-actions-workflow

Attempting to allow multiple releases in a day with same sha256sums
  .github/workflows/release.yml
Due: generate-actions-workflow

Removed checksum for 2024 12 05, to allow program to run
  README.md
Due: none

Update README for better textual flow on locations of latest for download
  README.md
Due: none

Remove 107 exit code
  windows/svtminion.ps1
Due: none

Fix tests
  tests/windows/functional/test_status.ps1
  windows/svtminion.ps1
Due: none

Update readme.md
  README.md
Due: none

107 to 100 on Linux script for installedStopped
  linux/svtminion.sh
Due: shellcheck

Remove 107 from linux script, use 100
  .gitlab-ci.yml
  releases/1.7/svtminion.ps1
  tests/linux/test-linux.sh
  windows/svtminion.ps1
Due: none

Replace utf-8 apostrophe character
  windows/svtminion.ps1
Due: none

Fix CLI switches leaking into minion config on Linux
  linux/svtminion.sh
  tests/linux/test_minion_conf_parsing.sh
Due: shellcheck

Run Linux unit tests in CI
  .github/workflows/ci.yml
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Let Linux CI matrix jobs run concurrently
  .github/workflows/test-linux.yml
Due: generate-actions-workflow

Path conditions:
  generate-actions-workflow: any of: ^.github/workflows/.*$
  shellcheck: any of: svtminion\.sh
