Repository twangboy/salt-vmtools: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-actions-workflow, shellcheck

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 VMware, Inc. All rights reserved.

---
minimum_pre_commit_version: 1.15.2
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
        description: Check for files that contain merge conflict strings.
        language_version: python3
      - id: trailing-whitespace
        description: Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
        language_version: python3
      - id: mixed-line-ending
        description: Replaces or checks mixed line ending.
        args: [--fix=lf]
        language_version: python3
      - id: fix-byte-order-marker
        description: Removes UTF-8 BOM if present, generally a Windows problem.
      - id: end-of-file-fixer
        description: Makes sure files end in a newline and only a newline.
        language_version: python3
        exclude: '^README* | *.json$'
      - id: check-ast
        description: Simply check whether files parse as valid python.
        language_version: python3
      - id: check-yaml
      - id: check-json

  - repo: local
    hooks:
      - id: generate-actions-workflow
        name: Generate Github Actions Workflow
        entry: .github/workflows/templates/generate.py
        pass_filenames: false
        files: '^.github/workflows/.*$'
        language: script

      - id: shellcheck
        name: Run ShellCheck against svtminion.sh
        entry: koalaman/shellcheck-alpine:v0.7.0 shellcheck -s bash -f tty
        files: 'svtminion\.sh'
        language: docker_image

WIP Initial tests, expect lots of failures
  tests/linux/test-linux.sh
Due: none

Updated actions
  .github/ISSUE_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/scripts/cut-release.py
  .github/workflows/templates/ci.yml
  .github/workflows/templates/generate.py
  .github/workflows/test-linux.yml
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Updated for lint errors
  linux/svtminion.sh
Due: shellcheck

debugging tests
  tests/linux/test-linux.sh
Due: none

Updating tests
  tests/linux/test-linux.sh
Due: none

Limit testing to Redhat family and Windows
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
Due: generate-actions-workflow

Tests debugging
  linux/svtminion.sh
  tests/linux/test-linux.sh
Due: shellcheck

fix typo
  linux/svtminion.sh
Due: shellcheck

fix issues found from testing
  linux/svtminion.sh
Due: shellcheck

Debugging tests
  linux/svtminion.sh
Due: shellcheck

Debugging
  linux/svtminion.sh
Due: shellcheck

debugging
  linux/svtminion.sh
Due: shellcheck

Further debugging
  linux/svtminion.sh
Due: shellcheck

Debugging tail issue
  linux/svtminion.sh
Due: shellcheck

Adjusted for tail failing with bash loop
  linux/svtminion.sh
Due: shellcheck

Updated for arch
  linux/svtminion.sh
Due: shellcheck

Fix issues found from testing
  linux/svtminion.sh
  tests/linux/test-linux.sh
Due: shellcheck

Restored some commented out code
  linux/svtminion.sh
Due: shellcheck

Updated tests before attempting add of Linux packages to testarea
  linux/svtminion.sh
  tests/linux/test-linux.sh
Due: shellcheck

Cleanup retireving the sha256 value, allow for spaces and quotes
  linux/svtminion.sh
Due: shellcheck

further cleanup
  linux/svtminion.sh
Due: shellcheck

Adjust for install from local source
  linux/svtminion.sh
Due: shellcheck

adjust checksum calculation
  linux/svtminion.sh
  tests/linux/test-linux.sh
Due: shellcheck

Updated the 3005.repo copy
  tests/classic/3005.repo
Due: none

Fix up typo
  linux/svtminion.sh
  tests/linux/test-linux.sh
Due: shellcheck

Updated README and some clean up
  README.md
  linux/svtminion.sh
Due: shellcheck

Remove testing on Photon 5 and final cleanup
  .github/workflows/ci.yml
  .github/workflows/templates/generate.py
  linux/svtminion.sh
Due: generate-actions-workflow, shellcheck

Migrate tests from gitlab
  .github/workflows/test-windows.yml
Due: generate-actions-workflow

Testing cutting a release
  .github/workflows/release.yml
  .github/workflows/scripts/cut-release.py
  windows/svtminion.ps1
Due: generate-actions-workflow

Initial attempt to update cut-release and generate checksums for scripts
  .github/workflows/release.yml
  .github/workflows/scripts/update-release-shasum.py
  .pre-commit-config.yaml
  README.md
  requirements/release.in
  requirements/release.txt
Due: generate-actions-workflow

Changed BS_VERSION to VMTS_VERSION to better reflect VM Tools version for the scripts
  .github/workflows/release.yml
Due: generate-actions-workflow

Updates for sha256sum generation after reviewer comments
  .github/workflows/scripts/update-release-shasum.py
  README.md
Due: generate-actions-workflow

Updating cut-release for errors found during cut-release
  .github/workflows/release.yml
Due: generate-actions-workflow

Migrated CHANGELOG to CHANGLOG.md
  CHANGELOG
  CHANGELOG.md
  ChangeLog
Due: none

Changed branch develop to main
  .github/workflows/scripts/cut-release.py
Due: generate-actions-workflow
